html,
    body {
    	height: 100%;
    	width: :100%;
    	background: #1f2327;
    }
    .container {
    	width: 1000px;
    	margin: 9px 9px;
    	height: inherit;
        margin-right: -5px;
    }
    .container .header {
    	width: 1273px;
    	height: 40px;
    	background: darkgray;
    	margin-left: -17px;
    	
    	color: #fff;
    	box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.2);
    	background-color: #292e33;
    	border-radius: 5px;

    	
    }
    .overall {
    	width: 883px;
    	height: 550px;
    	background-color: #292e33;
    	box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.2);
    	margin-left: 2px;
        border-radius: 5px;
    }
    .Legend {
    	width: 360px;
    	height: 550px;
    	background-color: #292e33;
    	box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.2);
    	margin-right: -30px;
    	margin-left: 483px;
        border-radius: 5px;
            }
    #listData {

  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  text-align: center;
}
